body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(164%2c 186%2c 209%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c151 C 57.6%2c129.4 172.8%2c21.4 288%2c43 C 403.2%2c64.6 460.8%2c252.8 576%2c259 C 691.2%2c265.2 748.8%2c72 864%2c74 C 979.2%2c76 1036.8%2c266.2 1152%2c269 C 1267.2%2c271.8 1382.4%2c124.2 1440%2c88L1440 560L0 560z' fill='rgba(187%2c 203%2c 220%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c491 C 96%2c462.6 288%2c357 480%2c349 C 672%2c341 768%2c441.4 960%2c451 C 1152%2c460.6 1344%2c407.8 1440%2c397L1440 560L0 560z' fill='rgba(226%2c 186%2c 186%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    backdrop-filter: blur(8px);
  }
.Container{
    margin-top:  2px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    flex-direction: row;
    padding: 0;
}
.FlexContainer .header
{
    text-align: center;
    font-weight: 500;
    font-size: larger;
}
.FlexContainer div {
    width: 100%;
    height: 33px;
    padding: 2px;
}
.inputcontainer{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 10em;
}
.inputcontainer input{
    width: 40%;
    box-sizing: border-box;
    padding: 4px 8px 12px 15px;
    outline: none;
    border-top: 1px solid rgba(255,255, 255, 0.5);
    border-left: 1px solid rgba(255,255, 255, 0.5);
    border-radius:15px;
    background:rgba(255,255, 255, 0.1);
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
}
.inputcontainer input:focus
{
    color: black;
    font-weight: bold;
}
.inputcontainer input:hover
{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: translateY(0px);
    opacity:1;
}
.inputcontainer label{
    font-weight: 400;
    font-size: larger;
}
.FlexContainer .submitbtn{
    text-align: center;
}
.FlexContainer button{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    color: black;
    font-weight: 400;
    font-size: larger;
    border-top: 1px solid rgba(255,255, 255, 0.5);
    border-left: 1px solid rgba(255,255, 255, 0.5);
    border-radius:15px;
    background:rgba(255,255, 255, 0.1);
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
}
.FlexContainer button:hover
{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: translateY(0px);
    opacity:1;   
}
.outputcontainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 10em;
}
@media (max-width: 800px) {
    .FlexContainer {
      flex-direction: column;
    }
}

#moreResult {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    color: black;
    font-weight: 400;
    font-size: larger;
    border-top: 1px solid rgba(255,255, 255, 0.5);
    border-left: 1px solid rgba(255,255, 255, 0.5);
    border-radius:15px;
    background:rgba(255,255, 255, 0.1);
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
#moreResult__content {
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  font-weight: 400;
  font-size: medium;
  box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 200px;
  background: rgb(255, 255, 255);
  padding: 1em 2em;
}
.modal__content__overlay
{
  border-radius: 4px;
  position: relative;
  width: 300px;
  background: rgb(255, 255, 255);
  padding: 1em 2em;
}
.modal__content div{
  padding: 0.5em;
}
.modal__content div:nth-child(1) div{
  padding: 0;
}
.modal__content div:nth-child(3) a{
  padding: 2px;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}